*, #root { 
  margin: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Inter', sans-serif;}

.nav {
  margin: 0;
  background-color: #F55A5A;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 55px;
}

.nav img {
  margin-right: 10px;
}

.nav p {
  font-size: .9rem;
}

/* Card */

.card-container {
  margin: 3em auto 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 471px;
  height: 168;
  padding: .2em;
}

.img-container {
  width: 125px;
  height: 168px;
}

.img {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.top {
  display: flex;
  align-items: center;
  font-size: .8rem;
}

.top a {
  margin-left: 15px;
}

.text-container {
  margin-left: 1.5em;
}

.text-container .txt {
  font-size: .7rem;
}

.title {
  margin: .5em 0;
}

.target {
  margin-right: 5px;
}

.date {
  margin-bottom: .7em;
  font-size: .7rem;
  font-weight: bold;
}

.location {
  margin-top: 0;
  text-transform: uppercase;
}

.google {
  color: #918E9B;

}

.txt {
  line-height: 1.3;
}


.line {
  width: 471px;
  margin: 2em auto;
}

